.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.well {
  background-color: antiquewhite;
}

.two_column {
  display: grid;
  grid-template-areas:
    "reload language"
    "invoice language";
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

#app-reload {
  grid-area: reload;
  background-color: aquamarine;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

#invoice-form-container {
  grid-area: invoice;
}

#app-lang {
  grid-area: language;
}

.wrap {
  overflow: visible;
  white-space: pre-line;
}

.well .two_column_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
