.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.well {
  background-color: antiquewhite;
}

.generate_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.two_column {
  display: grid;
  grid-template-areas:
    "reload language"
    "invoice language";
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}
.two_column_right_big {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}
.two_column_right_big:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  vertical-align: bottom;
  margin-bottom: 15px;
}

#app-reload {
  grid-area: reload;
  background-color: #43beee;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.generate_buttons #app-report,
.generate_buttons #app-modify_all {
  background-color: rgb(8, 197, 255);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

button[type="button"] {
  background-color: rgb(250, 225, 156);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

#invoice-form-container {
  grid-area: invoice;
}

#app-lang {
  grid-area: language;
}

.wrap {
  overflow: visible;
  white-space: pre-line;
}

.well .two_column_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.well > .two_column_grid_gap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.well .six_column_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
  gap: 15px;
}

.well .five_column_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  gap: 15px;
}

.well .five_column_grid > div {
  width: 100%;
}

.four_column_grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 15px;
}

.well .three_column_grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 15px;
}

.well .three_column_grid_center {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 15px;
}

.well .three_column_grid_left_big {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5px;
  margin-top: 15px;
}

.go-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: normal;
  vertical-align: bottom;
}

.go-center {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.go-bottom > .form-group {
  margin-bottom: 0;
}

.go-center > .form-group {
  margin-bottom: 0;
}

.form-group-container > .form-group {
  margin-bottom: 0;
}

.form-group > #app-invoiceNumber-label,
.form-group > #app-datesdelivery_month_text-label {
  display: none;
}

.salary_and_days_container {
  display: grid;
  grid-template-areas:
    "salary salary salary salary"
    "modified modified modified non_working_days";
  gap: 15px;
}

.salary {
  grid-area: salary;
}

.modified {
  grid-area: modified;
}

.non_working_days {
  grid-area: non_working_days;
  display: grid;
  gap: 15px;
}
.well .shiny-split-layout > div > div > #app-currency_date_ns-increaseDate_Final,
.well .shiny-split-layout > div > div > #app-increaseDate {
  width: 0;
  height: 25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-bottom: 25px solid rgb(179, 176, 28);

  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-top: none;
  box-shadow: none;
}

.well .shiny-split-layout > div > div > #app-currency_date_ns-decreaseDate_Final,
.well .shiny-split-layout > div > div > #app-decreaseDate {
  width: 0;
  height: 25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-top: 25px solid rgb(179, 176, 28);

  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-bottom: none;
  box-shadow: none;
}

.go-bottom > div {
  flex-grow: 1;
}
