.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
README.html
rsconnect/
gitNo
app_old.R
app/main3.R
app/inv_md_dont_modify.Rmd
renv/library
renv/sandbox
file_list.txt
.history
settings.json
.gitignore
.Rprofile
.rscignore
.Renviron
.lintr